@font-face {
  font-family: Nizar;
  src: url(../../fonts/NizarCoconKurdishLight.ttf);
  font-display: swap;
}
@font-face {
  font-family: SourceSansPro;
  src: url(../../fonts/SourceSansPro-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: SourceSansProBold;
  src: url(../../fonts//SourceSansPro-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: SourceSansProBoldLight;
  src: url(../../fonts//SourceSansPro-Light.ttf);
  font-display: swap;
}
//-*----------  START FONTS BASE  ----------*/
$SourceSansPro-font: "SourceSansPro", sans-serif;
$SourceSansProBold-font: "SourceSansProBold", sans-serif;
$SourceSansProLight-font: "SourceSansProBoldLight", sans-serif;
$Nizar-font: "Nizar", sans-serif;
$base-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//-*----------  END FONTS BASE  ----------*/

//%-*=====  End of GLOBAL STYLE SECTION  ======*-//

$main-font: $Nizar-font, $base-fonts;
$primary-color: #32358a;
$secondary-color: #363750;
$tertiary-color: #eb2226;
$default-font-size: 1rem;
$white-color: #ffffff;
$bg-primary-color: #e6e6f1;
$-bg-primary-color2: #d8d8e9;
$-bg-primary-color3: #9899c4;
$-bg-primary-color4: #6567a7;
$border-color: #707070;
$border-color2: #999ac5;
$border-color4: #d6d6e8;
