// @font-face {
//     font-family: TajawalRegular;
//     src: url(../../fonts/Tajawal-Regular.ttf);
//     font-display: swap;
// }

// @font-face {
//     font-family: TajawalBold;
//     src: url(../../fonts/Tajawal-Bold.ttf);
//     font-display: swap;
// }

//-*----------  START FONTS BASE  ----------*/

$tajawalBold-font: "TajawalBold", sans-serif;
$tajawalRegular-font: "TajawalRegular", sans-serif;
$base-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//-*----------  END FONTS BASE  ----------*/

//%-*=====  End of GLOBAL STYLE SECTION  ======*-//

$main-font: $tajawalRegular-font, $base-fonts;

$primary-color: #32358a;
$secondary-color: #363750;
$tertiary-color: #eb2226;
$default-font-size: 1rem;
$white-color: #ffffff;
$bg-primary-color: #e6e6f1;
$-bg-primary-color2: #d8d8e9;
$-bg-primary-color3: #9899c4;
$border-color: #707070;
