@import "../../Abstract/mixins";
.About1{
    margin-top: -70px;
    .About-img-container{
        margin-top: 200px;
        img{
            width: 100%;
            -webkit-box-shadow: 28px -27px 0px 4px #ECECF4; 
            box-shadow: -28px -27px 0px 4px #ECECF4;
        }
    }
    .About-text-container{
        margin-top: 200px;
        div{
            display: flex;
            align-items: center;
            h5{
                display: inline;
                color: $primary-color;
                font-size: 40px;
                font-weight: bold;
            }
            h6{
                display: inline;
                background-color: $tertiary-color;
                width: 7%;
                height: 7px;
               
            }
            p{font-size: 16.5px; line-height: 1.56; color: $secondary-color;}
        }
    }
    .two-lists{
        ul{
            li{
                list-style-type: "\22C6"; // thumbs up sign
            }
        }
    }
   
    
    
}
@include respond(gaming-laptop) {

    .About1{
        .About-text-container{
            div{
                display: flex;
                align-items: center;
                h5{
                    font-size: 34px;
                }
                p{font-size: 15px; line-height: 1.4;}
            }
           
        }
}
}
@include respond(laptop) {

    .About1{
        .About-text-container{
            div{
                display: flex;
                align-items: center;
                h5{
                    font-size: 30px;
                }
                p{font-size: 13.2px; line-height: 1.3;}
            }
            
        }
}
}
@include respond(small-laptop) {
    .About1{
  
        .About-text-container{
            margin-top: 50px;
            div{
                h5{
                    font-size: 25px;
                }
                p{font-size: 10px; line-height: 1.2;}
            }
        }
        .About-img-container{
           margin-top: 50px; 
      }
}
}
@include respond(tablet) {
    .About1{
        margin-top: 500px;
        .About-img-container{
            margin-top: 50px;
        }

.About-text-container{
    div{
        h5{
            font-size: 35px;
        }
        p{font-size: 15px; line-height: 1.4;}
    }
}
}}
@include respond(large-phone) {
    .About1{
       .About-text-container{
    
    h2{
        // 
        font-size: 66px;
    }
    .About-h5-container{
        margin-top: 20px;
        width: 100%;
        h5{
            font-weight:100;
            font-size: 30px;
            color: $secondary-color;  
        }
      
    }
    .About-shop-now-btn-container{
        margin-top: 50px;
        span{font-size: 26px;}
    }
}
}}

