@import "../../Abstract/mixins";
.About {
  overflow: hidden;
  .About1 {
    .About-image-container {
      margin-top: -10px;
      .white-div {
        // margin-left: -59px;
        img {
          width: 100%;
        }
      }
    }
    .About-text-container {
      margin-top: 40px;
      div {
        display: flex;
        align-items: center;
        h5 {
          display: inline;
          color: $primary-color;
          font-size: 40px;
          margin-left: 10px;
          // font-weight: bolder;
          font-family: $NizarBold;
        }
        span {
          display: inline-block;
          background-color: $tertiary-color;
          width: 45px;
          height: 5px;
          margin-bottom: 10px;
        }
        p {
          font-size: 20px;
          line-height: 1.1;
          color: $secondary-color;
        }
      }
    }
  }
}
@include respond(large-laptop) {
  .About {
    .About1 {
      .About-image-container {
      }
      .About-text-container {
        div {
          display: flex;
          align-items: center;
          h5 {
            font-size: 34px;
          }
          p {
            line-height: 1.2;
          }
        }
      }
    }
  }
}
@include respond(laptop) {
  .About {
    .About1 {
      .About-image-container {
      }
      .About-text-container {
        div {
          display: flex;
          align-items: center;
          h5 {
            font-size: 30px;
          }
          p {
            font-size: 14px;
            line-height: 1.3;
          }
        }
      }
    }
  }
}
@include respond(small-laptop) {
  .About {
    .About1 {
      .About-image-container {
      }
      .About-text-container {
        div {
          h5 {
            font-size: 20px;
          }
          span {
            width: 25px;
            height: 3px;
          }
          p {
            font-size: 11px;
            line-height: 1.2;
          }
        }
      }
    }
  }
}
@include respond(tablet) {
  .About {
    .About1 {
      .About-text-container {
        div {
          h5 {
            font-size: 30px;
          }
          span {
            width: 30px;
            height: 4px;
          }
          p {
            font-size: 15px;
            line-height: 1.4;
          }
        }
      }
    }
  }
}
@include respond(large-phone) {
  .About {
    .About1 {
      .About-text-container {
        div {
          h5 {
            font-size: 25px;
          }
          span {
            width: 25px;
          }
        }
      }
    }
  }
}

@include respond(phone) {
  .About {
    .About1 {
      .About-image-container {
      }
    }
  }
}
