@import "../../Abstract/mixins";
.Catalogue {
  .block {
    background-color: $-bg-primary-color2;
    height: 160px;
    border-bottom: 6px $primary-color solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    align-self: center;
    .block-title-container {
      // background-color: green;
      width: 80%;
      display: flex;
      justify-content: center;
      h5 {
        color: $secondary-color;
        font-size: 25px;
        text-align: center;
        font-family: $SourceSansProBold-font;
      }
    }
  }
  .block {
    transition: 0.4s ease-in-out;
    .block-title-container {
      h5 {
        .HiOutlineChevronDoubleRight {
          transition: all.4s ease-in-out;
          svg {
            font-size: 40px;
          }
        }
      }
    }
    &:hover {
      background-color: $primary-color;
      border-bottom: 5px $tertiary-color solid;
      .block-title-container {
        h5 {
          color: $white-color;
          .HiOutlineChevronDoubleRight {
            transform: translateX(10px);
          }
        }
      }
    }
  }
}
@include respond(laptop) {
  .Catalogue {
    .block {
      height: 140px; //
      border-bottom: 5px $primary-color solid;
      .block-title-container {
        h5 {
          font-size: 18px; //
        }
      }
    }
  }
}
@include respond(small-laptop) {
  .Catalogue {
    .block {
      .block-title-container {
        h5 {
          font-size: 19px;
        }
      }
    }
  }
}

@include respond(tablet) {
  .Catalogue {
    .block {
      .block-title-container {
        h5 {
          font-size: 18px;
        }
      }
    }
  }
}
@include respond(large-phone) {
  .Catalogue {
    .block {
      .block-title-container {
        h5 {
          font-size: 19px;
        }
      }
    }
  }
}
