@import "../../Abstract/mixins";
.Cataloguebtn {
  margin: 0px 0px;
  height: 100px;
  .Cataloguebtn1 {
    cursor: pointer;
    margin: 50px 0px;
    .Cataloguebtn-name {
      background-color: $primary-color;
      color: $white-color;
      padding: 15px 25px;
      font-size: 25px;
      font-weight: bold;
    }
    .BsDownload {
      margin-left: 5px;
      background-color: $primary-color;
      color: $white-color;
      padding: 15px 25px;
      font-size: 25px;
    }
  }
}
@include respond(laptop) {
  .Cataloguebtn {
    .Cataloguebtn1 {
      .Cataloguebtn-name {
        font-size: 20px;
      }
      .BsDownload {
        font-size: 20px;
      }
    }
  }
}

@include respond(small-laptop) {
  .Cataloguebtn {
    .Cataloguebtn1 {
      .Cataloguebtn-name {
        font-size: 28px;
      }
      .BsDownload {
        font-size: 28px;
      }
    }
  }
}
