@import "../../Abstract/mixins";
.CompanyNewsComponent {
  background-color: $primary-color;
  position: relative;
  .container {
    .row {
      .Company-news {
        background-color: $primary-color;
        height: 100%;
        .CompanyNewsTitleContainer {
          padding: 20px 0px;
          h5 {
            display: inline;
            color: $white-color;
            font-size: 40px;
            font-weight: bold;
            margin-left: 10px;
            text-transform: uppercase;
          }
          span {
            display: inline-block;
            background-color: $tertiary-color;
            width: 45px;
            height: 5px;
            margin-bottom: 10px;
          }
        }
        .rec-carousel {
          position: relative;
          span:nth-child(1) {
            // background-color: saddlebrown;
            // position: absolute;
            margin-bottom: 60px;
            z-index: 1;
          }
          span:nth-last-child(1) {
            // background-color: goldenrod;
            position: absolute;
            bottom: 0%;
          }
          span {
            // background-color: goldenrod;
            display: flex;
            flex-direction: column-reverse;
            cursor: pointer;
            // background-color: yellow;

            .MyArrow {
              margin-top: 100px;
              color: $white-color;
              border: solid 1px $white-color;
            }
          }
        }

        .Company-news-Item {
          color: $white-color;
          border-left: 10px solid $tertiary-color;
          margin: 15px 0;
          transition: border 0.4s ease-in-out;
          background-color: #4b4e98;
          h3 {
            font-size: 20px;
            padding: 20px 20px 0px;
          }
          h6 {
            margin-top: 20px;
            font-size: 16px;
            padding: 0px 20px;
          }
          &:hover {
            border-left: 10px solid $white-color;
          }
          .Company-news-Item-icon {
            display: flex;
            justify-content: flex-end;

            svg {
              font-size: 40px;
              border: solid 1px $white-color;
              cursor: pointer;
            }
          }
        }
      }
      .Symmtric {
        padding: 0;
      }
      .Labour-Day {
        position: relative;
        .labourDay-imgDiv {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          img {
            width: 100%;
          }
        }
        .labourDayTitleParagraph {
          background-color: $-bg-primary-color2;
          margin-top: 225px;
          margin-left: 0px;
          // height: calc(100% - 195px);
          .labourDayTitle {
            padding: 20px;
            h4 {
              color: $primary-color;
              font-weight: bold;
              font-size: 40px;
            }
            div {
              p {
                line-height: 1.7;
                color: $secondary-color;
              }
            }
          }
        }
      }
    }
  }
}
@include respond(large-laptop) {
  .CompanyNewsComponent {
    .container {
      .row {
        .Company-news {
          background-color: $primary-color;
          height: 100%;
          .CompanyNewsTitleContainer {
            padding: 20px 0px;
            h5 {
              font-size: 30px;
            }
          }
        }
        .Labour-Day {
          .labourDayTitleParagraph {
            margin-top: 195px;
            .labourDayTitle {
              h4 {
                font-size: 35px;
              }
            }
            .labourDayParagraph {
              p {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@include respond(laptop) {
  .CompanyNewsComponent {
    .container {
      .row {
        .Labour-Day {
          .labourDayTitleParagraph {
            margin-top: 160px;
            .labourDayTitle {
              h4 {
                font-size: 25px;
              }
            }
            .labourDayParagraph {
              p {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@include respond(small-laptop) {
  .CompanyNewsComponent {
    .container {
      .row {
        .Company-news {
          .rec-carousel {
            span:nth-child(1) {
              margin-bottom: 40px;
              z-index: 1;
            }
            span:nth-last-child(1) {
              position: absolute;
              bottom: 0%;
            }
            span {
              .MyArrow {
                margin-top: 100px;
                color: $white-color;
                border: solid 1px $white-color;
                height: 30px;
                width: 30px;
              }
            }
          }
          .CompanyNewsTitleContainer {
            padding: 10px 0px;
            h5 {
              font-size: 20px;
            }
            span {
              width: 35px;
              height: 4px;
              margin-bottom: 7px;
            }
          }
          .Company-news-Item {
            border-left: 5px solid $tertiary-color;
            margin: 10px 0;
            h3 {
              font-size: 16px;
              padding: 20px 20px 0px;
            }
            h6 {
              margin-top: 10px;
              font-size: 12px;
              padding: 0px 20px;
            }
            &:hover {
              border-left: 10px solid $white-color;
            }
            .Company-news-Item-icon {
              display: flex;
              justify-content: flex-end;

              svg {
                font-size: 30px;
                border: solid 1px $white-color;
                cursor: pointer;
              }
            }
          }
        }
        .Labour-Day {
          .labourDayTitleParagraph {
            margin-top: 120px;
            .labourDayTitle {
              h4 {
                font-size: 20px;
              }
            }
            .labourDayParagraph {
              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
@include respond(tablet) {
  .CompanyNewsComponent {
    .container {
      .row {
        flex-direction: column-reverse;
        .Labour-Day {
          .labourDayTitleParagraph {
            margin-top: 155px;
            .labourDayTitle {
              h4 {
                font-size: 20px;
              }
            }
            .labourDayParagraph {
              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
