@import "../../Abstract/mixins";

.two-lists {
  margin-top: 30px;
  ul {
    li {
      font-size: 16.5px;
      list-style-type: "\22C6"; // thumbs up sign
      margin-left: -25px;
      margin-top: 10px;
    }
  }
}
