@import "../../Abstract/mixins";
.burger-menu {
  display: none;
}
.Header {
  .header-container {
    display: flex;
    ul {
      display: flex;
      flex-direction: row;
      column-gap: 0px;
      height: 50%;
      align-self: center;
      .activeHeader {
        .li-same-tag {
          background-color: $tertiary-color !important;
          transition: ease-in-out 0.5s !important;
          opacity: 1;
        }
        a {
          color: $primary-color !important;
        }
      }
      li {
        display: flex;
        column-gap: 10px;
        height: 100%;
        align-items: center;
        clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
        position: relative;
        .li-same-tag {
          width: 50px;
          height: 120%;
          transform: rotate(7deg);
          position: absolute;
          left: calc(50% - 20px);
          opacity: 0;
          clip-path: polygon(40% 0, 74% 0, 51% 100%, 13% 100%);
          transition: ease-in-out 0.5s;
          z-index: -5;
        }
        a {
          text-decoration: none;
          padding: 0px 15px;
          width: 100%;
          white-space: nowrap;
          z-index: 9999;
          margin-top: 18px;
          font-size: 18px;
          font-family: $NizarBold;
          text-transform: uppercase;
        }
        .a-same-tag {
          color: $secondary-color;
          background-color: white;
          margin-top: 18px;
        }
        .a-shop-now-tag {
          color: $white-color;
        }

        &:hover {
          .li-same-tag {
            background-color: $tertiary-color;
            transition: ease-in-out 0.5s;
            opacity: 1;
          }
        }
      }
      .shop-now {
        background-color: $primary-color;
      }
    }
  }
  .logo-img {
    text-align: right;
    img {
      width: 120px;
    }
  }
  .logo-img1 {
    display: none;
    text-align: right;
    img {
      width: 130px;
    }
  }
}
@include respond(small-laptop) {
  .Header {
    .header-container {
      ul {
        display: flex;
        flex-direction: row;
        height: 42px;
        align-self: center;

        li {
          height: 120%;
          a {
            padding: 0px 9.5px;
            font-size: 14px;
          }
          .a-same-tag {
            color: $secondary-color;
            background-color: white;
            margin-top: 10px;
          }
          .a-shop-now-tag {
            margin-top: 10px;
          }
        }
      }
      .logo-img {
        text-align: right;
        img {
          width: 100px;
        }
      }
    }
  }
}
@include respond(tablet) {
  .Header {
    .header-container {
      display: none;
    }
    .burger-menu {
      display: block;
    }
    .logo-img1 {
      display: block;
    }
  }
}
//// side bar menu style start
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 48px;
  top: 20px;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $tertiary-color;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
/* General sidebar styles */
.bm-menu {
  background: $primary-color;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  // margin-left: -110px;
  width: 250px;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  margin-left: 10px;
  margin-top: -30px;
}
/* Individual item */
.bm-item {
  display: inline-block;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(236, 236, 244, 1);
}
.menu-item {
  color: $white-color;
  display: inline-block;
  padding: 10px 0;
  border-bottom: 1px solid silver;
  font-size: 15px;
  margin-left: -30px;
  &:hover {
    color: $tertiary-color;
  }
}
.bm-cross-button {
  right: 58px;
  position: absolute;
  width: 54px;
  height: 24px;
  right: 58px !important;
}
//// side bar menu end
@include respond(tablet) {
  //// side bar menu style start

  //// side bar menu end
}
