@import "../../Abstract/mixins";
.burger-menu{display: none;}
.Header{
    .header-container{
        display: flex;
        ul{
            display: flex;
            flex-direction: row;
            column-gap: 0px;
            height: 50%;
            align-self: center;
           
            li{
                display: flex;
                column-gap: 10px;
                height: 100%;
               align-items: center;
               clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
               position: relative;

               
               .li-same-tag{
                width: 70px;
                height: 130%;
                transform: rotate(7deg);
                position: absolute;
                left: calc(50% - 35px);
                opacity: 0;
                clip-path: polygon(40% 0, 74% 0, 51% 100%, 13% 100%);
                transition:  ease-in-out 0.5s;
            }
         
                a{
                    text-decoration: none; 
                    
                    font-weight: bolder; 
                    // background-color: chocolate;
                   padding:0px 15px;
                   width: 100%;
                   white-space: nowrap;
                   z-index: 9999;
                   }
                .a-same-tag{color: $secondary-color; background-color: white;}
                .a-shop-now-tag{color: $white-color;}
                &:hover{

                        .li-same-tag{
                            background-color: $tertiary-color;
                            transition:  ease-in-out 0.5s;
                            opacity: 1;
                        }
                }
            }
            .shop-now{
                background-color: $primary-color;
            }
        }
      
    }
    .logo-img{text-align: right;}
}
@include respond(laptop){
    .header-container{
        ul{
            display: flex;
            flex-direction: row-reverse;
            height: 50%;
            align-self: center;

            li{
                
                a{
                    font-size: 13px;
                    font-weight: bolder; 
                
                   }
            }
        }
    
    }
}
@include respond(small-laptop){
  .header-container{
    display: flex;
    
    img{
      width: 70px;
      height: 100%;
    }
    ul{
        display: flex;
        flex-direction: row-reverse;
        width: 300px;
        height: 50%;
        align-self: center;
        justify-content:center;
        margin-left: 60px;
       
        li{
            display: flex;
            column-gap: 1px;
            height: 90%;
            width: 30%;
          
        .li-same-tag{
          clip-path: polygon(50% 0, 73% 0, 45% 100%, 20% 100%);
      }
           
            a{ 
                font-size: 9px;
               padding:0px;
               width: 100%;
             
               }
           
        }
}
  }}
@include respond(tablet) {
  .Header{
      .header-container{display: none;}
      .burger-menu{display: block;}
    }
  }
    
  

//// side bar menu style start 
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $tertiary-color;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: $primary-color;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  // margin-left: -110px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(236, 236, 244, 1);
}
.menu-item{
  color: $white-color;

  &:hover{
    color: $tertiary-color;
  }
}

//// side bar menu end
@include respond(tablet) {
  //// side bar menu style start

  //// side bar menu end
  }