@import "../../Abstract/mixins";
.OurVMCP {
  h5 {
    color: $primary-color;
    font-size: 25px;
  }
  .OurVMCP-p-parent {
    width: 82%;
  }
}
@include respond(laptop) {
  .OurVMCP {
    h5 {
      font-size: 20px;
    }
    .OurVMCP-p-parent {
      width: 90%;
      p {
        font-size: 16px;
      }
    }
  }
}

@include respond(small-laptop) {
  .OurVMCP {
    text-align: left;
    h5 {
      font-size: 28px;
    }
    .OurVMCP-parent-div {
      margin: 30px 0px;
      .OurVMCP-p-parent {
        p {
          font-size: 15px;
        }
      }
    }
  }
}
@include respond(tablet) {
  .OurVMCP {
    h5 {
      font-size: 24px;
    }
  }
}
@include respond(large-phone) {
  .OurVMCP {
    h5 {
      font-size: 22px;
    }
  }
}
