@import "../../Abstract/mixins";

.SmallRedLine {
  margin-top: 20px;
  .SmallRedLine1 {
    div {
      display: flex;
      align-items: center;
      h5 {
        display: inline;
        color: $primary-color;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 15px;
      }
      span {
        display: inline;
        background-color: $tertiary-color;
        width: 30px;
        height: 4px;
        margin-bottom: 10px;
      }
      p {
        font-size: 16.5px;
        line-height: 1.56;
        color: $secondary-color;
      }
    }
  }
}
@include respond(laptop) {
  .SmallRedLine {
    .SmallRedLine1 {
      div {
        h5 {
          font-size: 20px;
        }
        p {
          font-size: 16.5px;
          line-height: 1.56;
          color: $secondary-color;
        }
      }
    }
  }
}
@include respond(small-laptop) {
  .SmallRedLine {
    .SmallRedLine1 {
      div {
        h5 {
          font-size: 18px;
        }
        span {
          margin-bottom: 12px;
        }
        p {
          font-size: 16.5px;
          line-height: 1.56;
          color: $secondary-color;
        }
      }
    }
  }
}
@include respond(tablet) {
  .SmallRedLine {
    .SmallRedLine1 {
      div {
        h5 {
          font-size: 20px;
        }
        span {
          margin-bottom: 35px;
          width: 40px;
        }
        p {
          font-size: 16.5px;
          line-height: 1.56;
          color: $secondary-color;
        }
      }
    }
  }
}
@include respond(large-phone) {
  .SmallRedLine {
    .SmallRedLine1 {
      div {
        h5 {
          font-size: 16px;
        }
        span {
          width: 30px;
          margin-bottom: 30px;
          height: 3px;
        }
        p {
          font-size: 16.5px;
          line-height: 1.56;
          color: $secondary-color;
        }
      }
    }
  }
}
@include respond(phone) {
}
