@import "../../Abstract/mixins";
.TEA {
  .Carousel {
    margin-top: 50px;
    .react-multiple-carousel__arrow {
      position: absolute;
      border-radius: 0%;
      border: 3px solid $border-color4;
      top: 0;
      right: 0;
      background-color: $white-color;
      &:before {
        color: $border-color4;
        font-size: 23px;
        transition: all ease-in-out 0.4s;
      }
      &:hover {
        &:before {
          color: $primary-color;
        }
        border: 3px solid $-bg-primary-color3;
      }
    }
    .react-multiple-carousel__arrow--left {
      right: 60px;
      left: auto;
    }
    .CarouselItemContainer {
      margin-top: 70px;
      position: relative;
      border-left: 8px solid $white-color;
      transition: all 0.4s ease-in-out;
      img {
        width: 90%;
      }
      .name-job-title {
        background-color: $primary-color;
        border-left: 5px solid $tertiary-color;
        padding: 0px 0px;
        position: absolute;
        bottom: 4%;
        right: 10%;
        width: 250px;
        .MemberName {
          font-size: 20px;
          font-family: $NizarBold;
          color: $white-color;
          margin-top: 10px;
          margin-left: 10px;
          &::before {
            display: inline-block;
            content: "";
            border-top: 3px solid $tertiary-color;
            width: 15px;
            transform: translate(-5px, -5px);
          }
        }
        h6 {
          font-size: 16px;
          color: $white-color;
          transition: font-size 0.4s ease-in-out;
          margin-left: 24px;
        }
        .h6-email {
          margin-top: -5px;
          cursor: pointer;
          color: $text-color3;
        }
        transition: all 0.4s ease-in-out;
      }
      &:hover {
        border-left: 8px solid $tertiary-color;
        .name-job-title {
          width: 90%;
          height: 50%;
          bottom: 0%;
          border-left: none;
          .MemberName {
            font-size: 25px;
            &::before {
              transform: translate(-10px, -5px);
            }
          }
          h6 {
            font-size: 25px;
            margin-top: 10px;
          }
          .h6-email {
            text-decoration: underline;
          }
          backdrop-filter: blur(8px);
          background-color: #696da08f;
        }
      }
    }
  }
  .TEA-text-container {
    position: absolute;
    div {
      display: flex;
      align-items: center;
      h6 {
        display: inline;
        color: $primary-color;
        font-size: 40px;
        font-family: $NizarBold;
        margin-left: 10px;
      }
      span {
        display: inline;
        background-color: $tertiary-color;
        width: 45px;
        height: 5px;
        margin-bottom: 10px;
      }
    }
  }
}
@include respond(large-laptop) {
  .TEA {
    .Carousel {
      .CarouselItemContainer {
        .name-job-title {
          padding: 0px 10px;
          height: 80px;
          width: 80%;
          .MemberName {
            font-size: 18px;
            margin-left: 0px;
            &::before {
              display: inline-block;
              content: "";
              border-top: 3px solid $tertiary-color;
              width: 15px;
              transform: translate(-5px, -3px);
            }
          }
          h6 {
            font-size: 14px;
            margin-left: 15px;
          }
        }
        &:hover {
          .name-job-title {
            .MemberName {
              font-size: 25px;
              &::before {
                transform: translate(-10px, -5px);
              }
            }
            h6 {
              font-size: 20px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
@include respond(laptop) {
  .TEA {
    .Carousel {
      .react-multiple-carousel__arrow--left {
        right: 55px;
      }
      .CarouselItemContainer {
        &:hover {
          border-left: 8px solid $tertiary-color;
          .name-job-title {
            height: 50%; //
            .MemberName {
              font-size: 20px; //
            }
            h6 {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@include respond(small-laptop) {
  .TEA {
    .Carousel {
      .react-multiple-carousel__arrow {
        min-width: 33px;
        min-height: 30px;
        top: 20px;
        &:before {
          font-size: 18px;
        }
      }
      .react-multiple-carousel__arrow--left {
        right: 45px;
      }

      .CarouselItemContainer {
        .name-job-title {
          height: 70px;
          .MemberName {
            font-size: 12px;
          }
          h6 {
            font-size: 9px;
          }
        }
        &:hover {
          border-left: 8px solid $tertiary-color;
          .name-job-title {
            height: 50%;
            .MemberName {
              font-size: 14px;
            }
            h6 {
              font-size: 10px;
            }
          }
        }
      }
    }
    .TEA-text-container {
      margin-top: 10px;
      .CarouselItemContainer {
        h6 {
          font-size: 30px;
        }
        span {
          width: 30px;
          height: 4px;
          margin-bottom: 12px;
        }
      }
    }
  }
}
@include respond(tablet) {
  .TEA {
    .Carousel {
      .react-multiple-carousel__arrow--left {
        right: 45px;
      }
      .CarouselItemContainer {
        .name-job-title {
          height: 60px;
          .MemberName {
            font-size: 10px;
          }
          h6 {
            font-size: 9px;
          }
        }
        &:hover {
          border-left: 8px solid $tertiary-color;
          .name-job-title {
            .MemberName {
              font-size: 14px;
            }
            h6 {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
@include respond(phone) {
  .TEA {
    .Carousel {
      .react-multiple-carousel__arrow--left {
        right: 45px;
      }
    }
  }
}
