@import "../../Abstract/mixins";
.TEA {
  .Carousel {
    margin-top: -30px;

    .react-multiple-carousel__arrow {
      position: absolute;
      border-radius: 0%;
      border: 1px solid $primary-color;
      top: 0;
      color: $primary-color;
      background-color: $white-color;
      &:before {
        color: $primary-color;
      }
      &:hover {
        background-color: $primary-color;
        &:before {
          color: $white-color;
        }
      }
    }
    .react-multiple-carousel__arrow--left {
      right: 110px;
      left: auto;
    }
    div {
      margin-top: 70px;
      position: relative;
      img {
        width: 90%;
      }
      .name-job-title {
        background-color: $primary-color;
        border-left: 5px solid $tertiary-color;
        padding: 5px 20px;
        position: absolute;
        bottom: 4%;
        right: 10%;
        width: 250px;
        span {
          display: inline;
          background-color: $tertiary-color;
          width: 10px;
          height: 50px;
          margin-bottom: 10px;
        }
        h4 {
          font-size: 16px;
          font-weight: bold;
          color: $white-color;
          margin-top: 10px;
        }
        h6 {
          font-size: 12px;
          color: $white-color;
        }
        .h6-email {
          margin-top: -5px;
        }
      }
    }
  }
  .TEA-text-container {
    position: absolute;
    div {
      display: flex;
      align-items: center;

      h6 {
        display: inline;
        color: $primary-color;
        font-size: 40px;
        font-weight: bold;
        margin-left: 10px;
      }
      span {
        display: inline;
        background-color: $tertiary-color;
        width: 45px;
        height: 5px;
        margin-bottom: 10px;
      }
    }
  }
}
// @include respond(F1700-T1900) {
//   .TEA {
//     .Carousel {
//       margin-left: 15px;
//       .react-multiple-carousel__arrow {
//         margin-top: -350px;
//       }
//       .react-multiple-carousel__arrow--left {
//         margin-left: 86%;
//       }
//       margin-left: 300px;
//     }
//   }
// }
// @include respond(F1632-T1700) {
//   .TEA {
//     .Carousel {
//       margin-left: 15px;
//       .react-multiple-carousel__arrow {
//         margin-top: -350px;
//       }
//       .react-multiple-carousel__arrow--left {
//         margin-left: 86%;
//       }
//       margin-left: 15px;
//     }
//   }
// }
// @include respond(desktop) {
//   .TEA {
//     .Carousel {
//       margin-left: 80px;
//       div {
//         img {
//         }
//         .name-job-title {
//           padding: 5px 20px;
//           position: absolute;
//           bottom: 4%;
//           right: 10%;
//           width: 220px;
//         }
//         .name-job-title {
//           padding: 0px 10px; //
//           height: 70px;
//           span {
//           }
//           h4 {
//             font-size: 16px;
//           }
//           h6 {
//             font-size: 12px;
//           }
//         }
//       }
//     }
//   }
// }
// @include respond(large-laptop) {
//   .TEA {
//     .Carousel {
//       // background-color: crimson;
//       margin-left: 85px;
//       margin-top: -120px;
//       .react-multiple-carousel__arrow {
//         margin-top: -250px;
//       }
//       .react-multiple-carousel__arrow--left {
//         margin-left: 83%;
//       }
//       div {
//         .name-job-title {
//           padding: 0px 10px; //
//           height: 60px;
//           width: 80%;

//           h4 {
//             font-size: 11px;
//           }
//           h6 {
//             font-size: 9px;
//           }
//         }
//       }
//     }
//   }
// }
@include respond(desktop) {
  .TEA {
    .Carousel {
      .react-multiple-carousel__arrow--left {
        right: 100px;
      }
    }
  }
}
@include respond(laptop) {
  .TEA {
    .Carousel {
      .react-multiple-carousel__arrow--left {
        right: 90px;
      }
    }
  }
}
@include respond(small-laptop) {
  .TEA {
    .Carousel {
      div {
        .name-job-title {
          h4 {
            font-size: 12px;
          }
          h6 {
            font-size: 10px;
          }
        }
      }
    }
    .TEA-text-container {
      margin-top: 10px;
      div {
        h6 {
          font-size: 30px;
        }
        span {
          width: 30px;
          height: 4px;
          margin-bottom: 12px;
        }
      }
    }
  }
}
@include respond(tablet) {
  .TEA {
    .Carousel {
      .react-multiple-carousel__arrow--left {
        right: 80px;
      }
    }
  }
}
@include respond(phone) {
  .TEA {
    .Carousel {
      .react-multiple-carousel__arrow--left {
        right: 70px;
      }
    }
  }
}
// @include respond(large-phone) {
//   .TEA {
//     .Carousel {
//       // background-color: rgb(218, 32, 218);
//       margin-left: 15px;
//       .react-multiple-carousel__arrow {
//         margin-top: -200px;
//       }
//       .react-multiple-carousel__arrow--left {
//         margin-left: 69%;
//       }
//       div {
//         .name-job-title {
//           h4 {
//             font-size: 10px;
//           }
//           h6 {
//             font-size: 8px;
//           }
//         }
//       }
//     }
//   }
// }
// @include respond(F466-T585) {
//   .TEA {
//     .Carousel {
//       margin-left: 15px;
//       // background-color: rgb(51, 33, 51);
//       .react-multiple-carousel__arrow {
//         margin-top: -130px;
//       }
//       .react-multiple-carousel__arrow--left {
//         margin-left: 70%;
//       }
//       margin-left: 15px;
//       div {
//         .name-job-title {
//           h4 {
//             font-size: 10px;
//           }
//           h6 {
//             font-size: 8px;
//           }
//         }
//       }
//     }
//   }
// }

// @include respond(phone) {
//   .TEA {
//     .Carousel {
//       // background-color: rgb(175, 218, 32);
//       margin-left: 15px;
//       .react-multiple-carousel__arrow {
//         margin-top: -200px;
//       }
//       .react-multiple-carousel__arrow--left {
//         margin-left: 62%;
//       }
//       margin-left: 15px;
//       div {
//         .name-job-title {
//           h4 {
//             font-size: 13px;
//           }
//           h6 {
//             font-size: 8px;
//           }
//         }
//       }
//     }
//   }
// }
