@import "../../Abstract/mixins";
.Welcome1{
    background-color: $bg-primary-color;
    height: 500px;
    margin-top: -70px;
    
    .b{
        background-color: yellowgreen;
        height: 100px;
        width: 100px;
    //    margin-top:200px ;
     
    }
}

@include respond(small-laptop){
    .Welcome1{
        background-color: $bg-primary-color;
        height: 500px;
        margin-top: -35px;
      
         
        
    }
    }


    